# Ignore everything
*

# But not some files
!.gitignore
!build.gradle
!gradlew
!gradlew.bat
!settings.gradle
!*.java
!*.md
!src/main/resources/*
!gradle/wrapper/*

# Even if they are in subdirectories
!*/
.idea